{{define "title"}}Welcome to pantavisor-web-status container{{end}}

{{define "body"}}

<link rel="stylesheet" href="/static/stylesheets/highlight.min.css">
<script src="/static/js/highlight.min.js"></script>

<script>
  const sources = {
    statejson: JSON.parse('{{.State}}', null, 2),
    devicemeta: JSON.parse('{{.DeviceMeta}}'),
  }

  function getKey(key = [], source = 'statejson') {
    return key.reduce((acc, k) => {
      if (!acc) {
        return acc
      }
      if (!k || k === '') {
        return acc
      }
      return acc[k]
    }, sources[source])
  }

  function printValue(elem, key = '', convert, source = 'statejson') {
    const value = getKey(key.split(','), source)
    if (convert == 'string') {
      elem.innerText = JSON.stringify(value, undefined, 4)
      return
    } 
    elem.innerText = value
  }

  window.onload = function() {
    hljs.highlightAll()
    const dinamicElements = document.getElementsByClassName('dynamic-data')
    for (let i = 0; i < dinamicElements.length; i++) {
      printValue(
        dinamicElements[i],
        dinamicElements[i].dataset['getJson'] || '',
        dinamicElements[i].dataset['getType'] || '',
        dinamicElements[i].dataset['source']
      )
    }
  };
</script>

<section class="flex justify-content-flex-end">
  <div>
    <p class="mt-05 mb-05">
      <b>Device ID:</b> {{.DeviceID}}
    </p>
    <p class="mt-05 mb-05">
      <b>Host:</b> {{.Host}}
    </p>
    <p class="mt-05 mb-05">
      <b>Running Revision:</b>
      <span class="dynamic-data" data-get-json="pantavisor.revision" data-source="devicemeta"></span>
    </p>
    <p class="mt-05 mb-05">
      <b>Status:</b> {{.Progress.Status}}
    </p>
    {{if eq .Challenge "" }}
    <p class="mt-05 mb-05">
      <b>Device Claimed</b>
    </p>
    {{else}}
    <p class="mt-05 mb-05">
      <b>Challenge:</b> {{.Challenge}}
    </p>
    {{end}}
    
  </div>
</section>
<div class="flex justify-content-flex-start">
  <header class="col-12 mt-6 pl-2 pr-2">
    <h1>Congratulations!</h1>
    <p>If you're reading this page, you know you've successfully updated your device with Pantavisor!</p>

    <p>The application update downloaded and installed on your device, starting this simple webserver and webpage. You should see some details about your device below, to confirm it's really running on your device. </p>
  </header>

  <section class="col-12 bg-grey color-white p-2 border-radius-1 mt-2 mb-2">
    <header>
      <h1 class="mb-2">Device details</h1>
    </header>    
    <ul class="list-style-none ml-0 pl-0">
      <li class="data-table">
        <span class="label">Device ID</span>
        <span class="data">{{.DeviceID}}</span>
      </li>
      <li class="data-table">
        <span class="label">Device Type</span>
        <span class="data dynamic-data" data-get-json="pantavisor.dtmodel" data-source="devicemeta"></span>
      </li>
      <li class="data-table">
        <span class="label">Pantavisor version</span>
        <span class="data dynamic-data" data-get-json="pantavisor.version" data-source="devicemeta"></span>
      </li>
      <li class="data-table">
        <span class="label">OS</span>
        <span class="data">{{.OS}}</span>
      </li>
      <li class="data-table">
        <span class="label">Architecture</span>
        <span class="data">{{.Machine}}</span>
      </li>
      <li class="data-table">
        <span class="label">Kernel</span>
        <span class="data">{{.Kernel}}</span>
      </li>
      <li class="data-table">
        <span class="label">Interfaces</span>
        <span class="data">
          {{range $item, $key := .Interfaces}}
<pre>
{{$key.Name}} Flags={{$key.Flags}}
  Mac Address: {{$key.HardwareAddr}} 
  IP Address: {{range $item, $a := $key.Addr}}
    {{$a}}{{end}}
</pre>
          {{end}}
        </span>
      </li>
    </ul>
  </section>
</div>

{{if eq .State "" }}
<!-- <div class="flex"justify-content-flex-start>
  <header>
    <h6>JSON state not found</h6>
  </header>
</div> -->
{{else}}
<div class="flex"justify-content-flex-start>
  <header>
    <h1>JSON state</h1>
  </header>
  <pre><code class="language-plaintext dynamic-data" data-get-json="" data-get-type="string">{{.State}}</code></pre>
</div>
{{end}}
<div class="flex justify-content-flex-start mt-2 mb-2 pb-6 pl-2 pr-2">
  <section>
    <header>
      <h1>Your progress so far:</h1>
    </header>
    <ol>
      <li>Connected a device</li>
      <li>Deployed an application update</li>
      <li>Create your own Release and deploy it</li>
    </ol>
  </section>
</div>
{{end}}
