{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{template "title"}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet"> 

  <link rel="icon" href="https://s33mg.svc.pantahub.com/ph-cms-assets/2021/06/cropped-512x512_pixel_perfect-32x32.png" sizes="32x32" />
  <link rel="icon" href="https://s33mg.svc.pantahub.com/ph-cms-assets/2021/06/cropped-512x512_pixel_perfect-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="https://s33mg.svc.pantahub.com/ph-cms-assets/2021/06/cropped-512x512_pixel_perfect-180x180.png" />
  <meta name="msapplication-TileImage" content="https://s33mg.svc.pantahub.com/ph-cms-assets/2021/06/cropped-512x512_pixel_perfect-270x270.png" />
  
  <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
  <header>
    <nav>
      <section class="container">
        <div class="flex justify-content-center">
          <p class="mt-5 mb-5">
            <img height="60" src="https://s33mg.svc.pantahub.com/ph-cms-assets/2021/06/NDJP9nyu-Pantacor_Logo.svg" />
          </p>
        </div>
      </section>
    </nav>
  </header>
  <section class="container">
    {{template "body" .}}
  </section>
  <footer class="pb-4 mb-4">
    <section class="container">
      <div class="flex justify-content-center ">
        Made by pantacor with love
      </div>
    </section>
  </footer>
</body>
</html>
{{end}}
